.DS_Store
*.bak
virtualenvs
shell/Alfred.alfredpreferences/*
!shell/Alfred.alfredpreferences/preferences
!shell/Alfred.alfredpreferences/workflows
!shell/Alfred.alfredpreferences/resources
!shell/Alfred.alfredpreferences/snippets/
shell/Alfred.alfredpreferences/snippets/*
